body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

*, 
body:before,
body:after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: 4rem 0 0;
}

h2 {
    text-align: center;
    margin: 4rem 0 0;
}

h3 {
    margin-top: 2rem;
}

.game-area {
    display: flex;
    justify-content: space-evenly;
}

.options-container {
    display: flex;
    flex-direction: column;
}

.score-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    margin-top: 2rem;
}

.p-options:hover {
    transform: scale(1.2);
    border-color: chocolate;
    transition: all 0.1s ease;
    box-shadow: 0 0 1rem chocolate;
}

.selected {
    transform: scale(1.2);
    border-color: chocolate;
    transition: all 0.1s ease;
    box-shadow: 0 0 1rem chocolate;
}

footer {
    margin-top: 10rem;
    display: flex;
    justify-content: space-evenly;
}